# 1. Business Understanding

- This project is aimed at understanding the influence of various factors like economic, personal and social on the students performance, and if a student's performance can be predicted.

# 2. Data Acquisition and Understanding

## 2.1 Data Understanding

- Source : This dataset was downloaded from [Kaggle](https://www.kaggle.com/datasets/spscientist/students-performance-in-exams/data).
- Format : This data was in a csv format.
- Content : The data had 1,000 rows and 8 columns.

The description of these columns:

1. gender : Whether a student was male or female
2. race/ethnicity : Group division from A to E
3. parental level of education	: Details of parental education varying from high school to master's degree
4. lunch : Type of lunch selected
5. test preparation course	: Course details
6. math score : Marks secured by a student in Mathematics
7. reading score : Marks secured by a student in Reading
8. writing score : Marks secured by a student in Writing

## 2.2 Data Acquisition

In [3]:
# importing libraries

import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
data_path = r"C:\Users\njamb\Desktop\DataScience\PerformanceAnalysis\Student-Performance-Analysis\data\raw\stud.csv"

In [6]:
# reading the data
data = pd.read_csv(data_path)

data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
print(f"The data has {data.shape[0]} rows and {data.shape[1]} columns.")

The data has 1000 rows and 8 columns.

## 2.3 Data Cleaning

## 2.4 EDA

# 3. Modelling

# 4. Deployment